{% extends "bookstore/base.html"%}
{% block content %}
    <h2>Book Details</h2>
    <hr>
    <div class="row">
        <div class="col-md-3 obs-book-display">
            <img src="{{book.cover_picture}}" >
        </div>
        <div class="col-md-9">
            <h2>{{book.title}}</h2>
            
            {% with ''|center:book.rating as range %}
			{% for _ in range %}
    			<span class="fa fa-star obs-checked"></span>
			{% endfor %}
			{% endwith %}
			
            <p style="font-size: 25px;">${{book.selling_price}}</p>
            <strong>Description:</strong>
            <br>
            
            <form class="form-inline">
                <div class="form-group mb-2">
                    <input type="number" class="form-control" id="bookquantity" name="bookquantity" min="1" value="1">
                </div>
                <button type="submit" class="btn obs-button-primary mb-2 mx-sm-3">Add to Cart</button>
            </form>
        </div>
        <ul>
            <li>ISBN: {{book.isbn}}</li>
            <li>Category: {{book.category}}</li>
            <li>Author: {{book.author}}</li>
            <li>Publisher: {{book.publisher}}</li>
            <li>Publication Year: {{book.publication_year}}</li>
            <li>Quantity-in-Stock: {{book.quantity}}</li>
            <li>Minimum Threshold: {{book.minimum_threshold}}</li>
        </ul>
    </div>
{% endblock content %}