{% extends "bookstore/base.html"%}
{% block content %}
    <h2>Book Details</h2>
    <hr>
    <div class="row">
        <div class="col-md-3 obs-book-display">
            <img src="https://dummyimage.com/730x1040/eee/aaa" />
        </div>
        <div class="col-md-9">
            <h2>Elements of Programming Interviews in Python: The Insiders' Guide</h2>
            <span class="fa fa-star obs-checked"></span>
            <span class="fa fa-star obs-checked"></span>
            <span class="fa fa-star obs-checked"></span>
            <span class="fa fa-star obs-checked"></span>
            <span class="fa fa-star"></span>
            <p style="font-size: 25px;">$35.96</p>
            <strong>Description:</strong>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae
                auctor. Quam viverra orci sagittis eu. Sit amet dictum sit amet justo. Donec pretium vulputate
                sapien nec sagittis aliquam. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt
                lobortis feugiat.</p>
            <form class="form-inline">
                <div class="form-group mb-2">
                    <input type="number" class="form-control" id="bookquantity" name="bookquantity" min="1" value="1">
                </div>
                <button type="submit" class="btn obs-button-primary mb-2 mx-sm-3">Add to Cart</button>
            </form>
        </div>
        <ul>
            <li>ISBN-10: 1537713949</li>
            <li>ISBN-13: 978-1537713946</li>
            <li>Category: Programming</li>
            <li>Author: Adnan Aziz </li>
            <li>Edition: 2nd</li>
            <li>Publisher: CreateSpace Independent Publishing Platform</li>
            <li>Publication Year: September 15, 2016</li>
            <li>Quantity-in-Stock: 5,000</li>
            <li>Minimum Threshold: 1</li>
            <li>Selling Price: $14.99</li>
        </ul>
    </div>
{% endblock content %}