{% extends "bookstore/base.html"%}
{% block content %}
    <h2>Check Out</h2>
    <hr>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <div class="obs-checkout-cart">
                <div class="obs-checkout-cart-item">
                    <div style="width: 50%; float: left;">Book 1</div>
                    <div style="width: 50%; float: left;">Price: $20</div>
                </div>
                <div class="obs-checkout-cart-item-mod">
                    <input style="width:20%; display: inline; margin: 0;border: none; padding-left: 10px;" type="number"
                        id="bookquantity" name="bookquantity" min="1" value="1">
                    <button style="width:40%;" class="btn obs-button-primary">Update</button>
                    <button style="width:36%; background-color: red; color:white;" class="btn">Remove</button>
                </div>
                <div class="obs-checkout-cart-item">
                    <div style="width: 50%; float: left;">Book 2</div>
                    <div style="width: 50%; float: left;">Price: $15</div>
                </div>
                <div class="obs-checkout-cart-item-mod">
                    <input style="width:20%; display: inline; margin: 0;border: none; padding-left: 10px;" type="number"
                        id="bookquantity" name="bookquantity" min="1" value="1">
                    <button style="width:40%;" class="btn obs-button-primary">Update</button>
                    <button style="width:36%; background-color: red; color:white;" class="btn">Remove</button>
                </div>
                <div class="obs-checkout-cart-item">
                    <div style="width: 50%; float: left;">Book 3</div>
                    <div style="width: 50%; float: left;">Price: $10</div>
                </div>
                <div class="obs-checkout-cart-item-mod">
                    <input style="width:20%; display: inline; margin: 0;border: none; padding-left: 10px;" type="number"
                        id="bookquantity" name="bookquantity" min="1" value="1">
                    <button style="width:40%;" class="btn obs-button-primary">Update</button>
                    <button style="width:36%; background-color: red; color:white;" class="btn">Remove</button>
                </div>
                Total: $45
            </div>
            <div class="form-group">
                <label for="inputPromoCode">Promo Code</label>
                {{ form.promo_code }}
                {% for error in form.promo_code.errors %}
                        <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form method="post" action="{% url 'checkout' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        {{ form.last_name }}
                    </div>
                </div>


                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    {{ form.email }}
                </div>

                <h3>Shipping Address</h3>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    {{ form.ship_street }}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        {{ form.ship_city }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        {{ form.ship_state }}
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        {{ form.ship_zip_code }}
                    </div>
                </div>

                <h3>Billing Address</h3>
                <div class="mb-3">
                    <label for="address">Address</label>
                    {{ form.bill_street }}
                    {% for error in form.bill_street.errors %}
                            <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        {{ form.bill_city }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        {{ form.bill_state }}
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        {{ form.bill_zip_code }}
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox" style="padding-bottom: 15px;">
                    {{ form.ship_is_billing }}
                    <label class="custom-control-label" for="ship_is_billing">Shipping address is the same as my billing address</label>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Payment</h4>

                <div class="row">
                    <div class="col-md-9 mb-3">
                        <label for="cc-type">Card Type</label>
                        {{ form.card_type }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        {{ form.card_no }}
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        {{ form.exp_date }}
                        {% for error in form.exp_date.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <hr class="mb-4">
                <button class="btn obs-button-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
        </div>
    </div>
{% endblock content %}