{% extends "bookstore/base.html"%}
{% block content %}
    <form method="POST" action ="{% url 'edit_profile' %}">
        {% csrf_token %}
        <h2>Edit Profile</h2>
        <hr>
        <h3>Personal Info</h3>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">First name</label>
                {{ form.first_name }}
                {% for error in form.first_name.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Last name</label>
                {{ form.last_name }}
                {% for error in form.last_name.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefaultUsername">Username</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="custom-control custom-checkbox" style="padding-bottom: 15px;">
                {{ form.promotion_sign_up }}
                <label class="custom-control-label" for="promote">Sign up for promotions and lattest news.</label>
            </div>
        </div>
        <h3>Shipping Address (Optional)</h3>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            {{ form.ship_street }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                {{ form.ship_city }}
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                {{ form.ship_state }}
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                {{ form.ship_zip_code }}
            </div>
        </div>
        <h3>Billing Address (Optional)</h3>
        <div class="mb-3">
            <label for="address">Address</label>
            {{ form.bill_street }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                {{ form.bill_city }}
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                {{ form.bill_state }}
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                {{ form.bill_zip_code }}
            </div>
        </div>

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
            <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="">
                <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input">
                <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input">
                <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                {{ form.card_no }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                {{ form.exp_date }}
                {% for error in form.exp_date.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <h3>Account Security</h3>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-3 col-form-label">Current Email</label>
            <div class="col-sm-9">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="InputEmail1" class="col-sm-3 col-form-label">New Email</label>
            <div class="col-sm-9">
                {{ form.email }}
                {% for error in form.email.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn obs-button-primary">Save</button>
    </form>
{% endblock content %}