{% extends "bookstore/base.html"%}
{% block content %}
	<h2>Enter new password</h2>
	<hr>

	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

	<form method="post">
		<div class="form-group">
			<input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
			<label for="id_new_password1">New password:</label>
			<input class="form-control" type="password" name="new_password1" autocomplete="new-password" required=""
				id="id_new_password1"><br>
		</div>
		<span class="helptext">
			<ul>
				<li>Your password can’t be too similar to your other personal information.</li>
				<li>Your password must contain at least 8 characters.</li>
				<li>Your password can’t be a commonly used password.</li>
				<li>Your password can’t be entirely numeric.</li>
			</ul>
		</span>
		<div class="form-group">
			<label for="id_new_password2">New password confirmation:</label>
			<input class="form-control" type="password" name="new_password2" autocomplete="new-password" required=""
				id="id_new_password2">
		</div>
		<button type="submit" class="btn obs-button-primary" name="Update Password">Send</button>

	</form>
{% endblock content %}