{% extends "bookstore/base.html"%}
{% block content %}
    <h2>Password reset complete</h2>
    <hr>

    <p>Your password has been set. You may go ahead and log in now.</p>
    <p>Redirecting to <a href="{% url 'bookstore_home' %}">home</a> after <span id="countdown">10</span> seconds</p>

    <script type="text/javascript">
        var seconds = 10;
        function countdown() {
            if (seconds < 0) {
                window.location = "{% url 'bookstore_home' %}";
            } else {
                document.getElementById("countdown").innerHTML = seconds;
                window.setTimeout("countdown()", 1000);
            }
            seconds = seconds - 1;
        }
        countdown();
    </script>
{% endblock content %}