{% extends "bookstore/base.html"%}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Register</h2>
        <hr>
        <h3>Account Info (Required)</h3>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="validationDefault01">Username</label>
                {{ form.username }}
                {% for error in form.username.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault01">First name</label>
                {{ form.first_name }}
                {% for error in form.first_name.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-6 mb-3">
                <label for="validationDefault02">Last name</label>
                {{ form.last_name }}
                {% for error in form.last_name.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12 mb-3">
                <label for="phone-number">Phone number</label>
                {{ form.phone_number }}
                {% for error in form.phone_number.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <div class="invalid-feedback">
                    Format: 123-456-7890
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="InputEmail1">Email</label>
                {{ form.email }}
                {% for error in form.email.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12 mb-3">
                <label for="inputPassword">Password</label>
                {{ form.password1 }}
                {% for error in form.password1.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12 mb-3">
                <label for="inputPassword">Password Again</label>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <h3>Shipping Address (Optional)</h3>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            {{ form.ship_street }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                {{ form.ship_city }}
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                {{ form.ship_state }}
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                {{ form.ship_zip_code }}
            </div>
        </div>
        <h3>Billing Address (Optional)</h3>
        <div class="mb-3">
            <label for="address">Address</label>
            {{ form.bill_street }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                {{ form.bill_city }}
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                {{ form.bill_state }}
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                {{ form.bill_zip_code }}
            </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            {{ form.ship_is_billing }}
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
                address</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>
        <div class="row">
            <div class="col-md-9 mb-3">
                {{ form.card_type }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                {{ form.card_no }}
            </div>
            <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                {{ form.exp_date }}
                {% for error in form.exp_date.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="custom-control custom-checkbox" style="padding-bottom: 15px;">
            {{ form.promotion_sign_up }}
            <label class="custom-control-label" for="promote">Sign up for promotions and lattest news.</label>
        </div>
        <button type="submit" class="btn obs-button-primary">Submit</button>
    </form>
{% endblock content %}