{% extends "bookstore/base.html"%}
{% block content %}
    <h2>Return</h2>
    <hr>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-lg-2 obs-book-display" style="padding: 0px !important;">
                <img src="https://dummyimage.com/730x1040/eee/aaa" />
            </div>
            <div class="col-lg-10">
                <div class="card-body">
                    <h5 class="card-title">Order 1</h5>
                    <p class="card-text">$120.00<br>Step 1: Mail the items back to us: 200 D. W. Brooks Drive,
                        Athens, GA 30602<br>Step 2: Update us with the tracking code.<br>Step 3: Click on the
                        return button.</p>
                    <form class="form-inline row">
                        <div class="col-sm-9">
                            <input class="form-control obs-button" style="width: 100%;" type="text"
                                placeholder="Tracking Code" aria-label="Search">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn my-sm-0 obs-button-primary" style="width: 100%;"
                                type="submit">Return</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-lg-2 obs-book-display" style="padding: 0px !important;">
                <img src="https://dummyimage.com/730x1040/eee/aaa" />
            </div>
            <div class="col-lg-10">
                <div class="card-body">
                    <h5 class="card-title">Order item 1</h5>
                    <p class="card-text">$20.00<br>Step 1: Mail the item back to us: 200 D. W. Brooks Drive,
                        Athens, GA 30602<br>Step 2: Update us with the tracking code.<br>Step 3: Click on the
                        return button.</p>
                    <form class="form-inline row">
                        <div class="col-sm-9">
                            <input class="form-control obs-button" style="width: 100%;" type="text"
                                placeholder="Tracking Code" aria-label="Search">
                        </div>
                        <div class="col-sm-3">
                            <button class="btn my-sm-0 obs-button-primary" style="width: 100%;"
                                type="submit">Return</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}