{% extends "bookstore/base.html"%}
{% block content %}
<h2>Advanced Search</h2>
<hr>
<form class="form-inline" method="post" action ="{% url 'search' %}">
  {% csrf_token %}
  <div class="col-sm-9">
    <input class="form-control obs-search" style="width: 100%;" type="text" placeholder="Search" aria-label="Search" name="search_text">
  </div>
  <div class="col-sm-3">
    <button class="btn my-sm-0 obs-search-button" style="width: 100%;" type="submit" >Search</button>
  </div>
  <div class="form-inline" style="width: 100%;padding-left: 15px;">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="search-radio-group" id="Subject" value="s" checked>
      <label class="form-check-label" for="Subject">
        Subject
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="search-radio-group" id="BookTitle" value="t">
      <label class="form-check-label" for="BookTitle">
        Book Title
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="search-radio-group" id="Author" value="a">
      <label class="form-check-label" for="Author">
        Author
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="search-radio-group" id="ISBN" value="i">
      <label class="form-check-label" for="ISBN">
        ISBN
      </label>
    </div>
  </div>
</form>
{% for book in books %}
{%if book.cover_picture %}
        		<a class="nav-link" href='{% url 'book_detail_with_pk' pk=book.pk %}'>
        			<img src="{{book.cover_picture}}" width="240" height="350">
        		</a>
        	{% endif %}
{% endfor %}

{% if books.has_other_pages %}
    <ul class="pagination">
        {% if books.has_previous %}
            <li class="waves-effect"><a href="?page=
                    {{ books.previous_page_number }}"><i
                    class="material-icons">chevron_left</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        {% endif %}
        {% for num in books.paginator.page_range %}
            {% if books.number == num %}
                <li class="active"><a href="#!">{{ num }}</a></li>
            {% else %}
                <li class="waves-effect"><a
                        href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if books.has_next %}
            <li class="waves-effect"><a
                    href="?page={{ books.next_page_number }}"><i
                    class="material-icons">chevron_right</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        {% endif %}
    </ul>
{% endif %}
{% endblock content %}