/*
 * Author: Hong Wang
 * Color code: https://colorhunt.co/palette/2763
 */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: calc(100vh - 200px);
    background-color: #eeeeee;
}


footer {
    background-color: #efefef;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0rem;
}

footer a, footer a:active, footer a:hover {
    color: white;
    text-decoration: none;
}

.obs-toolbar {
    background-color: #222831;
    width: 100%;
    min-height: 40px;
    color: white;
}

.obs-toolbar a {
    height: 40px;
    line-height: 40px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.obs-toolbar a:active, .obs-toolbar a:hover {
    background-color: #393e46;
}

.obs-toolbar-r {
    text-align: right;
}

.obs-footer-up {
    background-color: #393e46;
    padding: 40px;
    margin-top: 40px;
    color:white;
}

.obs-footer-up ul{
    list-style-type: none;
    padding: 0;
}

.obs-footer-down {
    color: white;
    background-color: #222831;
    text-align: center;
    padding: 15px;
    box-shadow: 0px -10px 60px rgba(0, 0, 0, 0.3);
}

.obs-search, .obs-search-button, .obs-button-primary, .btn, input {
    border-radius: 0% !important;
}

.obs-search:focus, .obs-search-button:focus, .obs-button-primary:focus, .btn:focus, input:focus {
    outline: none;
    box-shadow: none;
}

.obs-search-button, .obs-button-primary {
    background-color: #222831;
    color: white;
}

.obs-search-button:hover, .obs-button-primary:hover {
    background-color: #393e46;
    color: white;
}

.obs-container {
    background-color: white;
    margin-top: 40px;
    padding: 40px;
}

.obs-accepted-cards {
    max-width: 100%;
    max-height: 40px;
    /*filter: grayscale(100%);*/
}

.obs-book-display {
    padding-bottom: 30px;
}

.obs-book-display img {
    width: 100%;
}

.obs-checked {
    color: orange;
}

.obs-checkout-cart{
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 20px;
    padding: 10px;
}

.obs-checkout-cart-item{

}

.obs-checkout-cart-item-mod {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-item.active .page-link {
    background-color: #222831;
    border-color: #222831;
}

.page-link {
    color: #222831;
}

.page-link:hover {
    color: #222831;
}